 <div class="user-details">
   <h1> About </h1>
   <p> Hi, my name is Takhsin. I am a full-time software engineer based in Odessa, Ukraine.
     Familiar with agile methodologies, has the expertise to design, implement, test, deploy applications/web applications and POCs, mostly web apps.
     <br><br>I have been able to write code efficiently in team and contribute to enterprise projects by implementing
     new features and functionalities according to the client’s needs, showcasing and communicating with clients in writing and in person, sharing knowledge with team and colleges, optimizing existing code using Java and other
     programming languages and technologies.
     
     Communicable, adaptive to new conditions and workflow, creative, inquisitive, quick learner and concerned about quality.<br><br>
     Away from the keyboard, I have a passion for learning, business and entrepreneurship, music &#9834; especially the guitar, travel, meditation, tennis, table tennis, chess, psychology,
     movies, hanging out with friends, and many other things :)
   </p>
   <blockquote>
     <p>Any fool can write code that a computer can understand. <br/> Good programmers write code
       that humans can understand.</p>
     <p><cite>Martin Fowler</cite></p>
   </blockquote>
 </div>
 <div class="user">
   <div class="tech">
     <h2>Programming languages</h2>
     <i class="devicon-java-plain-wordmark" title="Java"></i>
     <i class="devicon-kotlin-plain-wordmark" title="Kotlin"></i>
     <i class="devicon-python-plain-wordmark" title="Python"></i>
     <i class="devicon-cplusplus-line-wordmark" title="C++"></i>
     <i class="devicon-javascript-plain" title="Javascript"></i>
   </div>
   <div class="tech">
     <h2>Frameworks</h2>
     <img id="springlogo-foot" src="https://spring.io/images/spring-logo-9146a4d3298760c2e7e49595184e1975.svg"
       width="150" height="100" title="Spring">
     <img src="https://img.icons8.com/windows/128/000000/vaadin.png" width="100" height="100" title="Vaadin" />
     <img alt="Hibernate" src="https://hibernate.org/images/hibernate-logo.svg" width="150" height="100"
       title="Hibernate">
   </div>
   <div class="tech">
     <h2>Other</h2>
     <i class="devicon-docker-plain-wordmark" title="Dokcer"></i>
     <i class="devicon-git-plain-wordmark" title="Git"></i>
     <i class="devicon-amazonwebservices-plain-wordmark" title="Amazon web service"></i>
     <i class="devicon-apache-line-wordmark" title="Apache"></i>
     <img src="https://img.icons8.com/ios/100/000000/mendix.png" title="Mendix" width="70" height="70" />
     <i class="devicon-tomcat-line-wordmark" title="Tomcat"></i>
     <i class="devicon-atom-original" title="Atom"></i>
     <i class="devicon-gradle-plain-wordmark" title="Gradle"></i>
     <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
     <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
     <i class="devicon-redis-plain-wordmark" title="Redis"></i>
     <i class="devicon-mongodb-plain-wordmark" title="MongoDB"></i>
     <i class="devicon-mysql-plain-wordmark" title="MySQL"></i>
     <i class="devicon-oracle-original" title="OracleDB"></i>
     <i class="devicon-postgresql-plain-wordmark" title="PostgresSQL"></i>
     <i class="devicon-intellij-plain" title="Intellij IDEA"></i>
     <i class="devicon-visualstudio-plain" title="Visual studio/code"></i>
     <i class="devicon-linux-plain" title="Linux"></i>
     <i class="devicon-windows8-original" title="Windows"></i>
   </div>
	</div>
   <h1>Experience</h1>
 </div class="container">
 <div class="page__content">
   <div class="cv">
     <div class="timeline">
      <div class="timeline-block">
         <div class="marker"></div>
         <div class="timeline-content">
           <h3>Java developer <span class="contractor"></span></h3>
           <p class="company-name">Provectus – Odessa, Ukraine</p>
           <p class="date">Nov 2021 – Present</p>
           <p class="company-summary">Provectus is an AI consultancy and solutions provider, helping businesses achieve their objectives through AI.</p>
           <ul>
             <li>Java developer in Corcentric CLM - Nov 2021 - now.  Finding and creating solutions, developing new features, optimizing existing code base, fixing bugs, testing and code reviewing.
		 Used technologies: Java, Spring, Oracle DB, Hibernate, Jaxen, Lucene, JSP, Tomcat, JS, JUnit, Mockito, servlets, multithreading.</li>
           </ul>
         </div>
     </div>
       <div class="timeline-block">
         <div class="marker"></div>
         <div class="timeline-content">
           <h3>Java developer <span class="contractor"></span></h3>
           <p class="company-name">HYS Enterprise – Odessa, Ukraine</p>
           <p class="date">February 2019 - Nov 2021</p>
           <p class="company-summary">HYS Enterprise is a Dutch, Amsterdam-based technology consultancy and software
             development company. Software development mostly web-based applications using Java, Mendix platform, and
	    other essential tools. Built web applications from scratch which includes: designing architecture, developing, testing, code reviewing, building responsive front-end UI/UX, presenting demos to clients,
	    mentored and taught newcomers.
	    Also, I’ve Built many medium-size business web applications with the Mendix platform and Java programming language. It's a sophisticated platform to design web applications.</p>
           <ul>
            <li>Java developer in Crewnion - Sep 2021 - Oct 2021. Developing new features, testing,
                code reviewing, building front-end using Vaadin. Used technologies: Java, Spring
                boot, Vaadin, MongoDB, CSS, JS.</li>
             <li>Java developer in Mob.Id - March 2021 - Oct 2021. Developing new features, testing, code reviewing,
               maintaining and
               evolving the existing microservices. with Java, Python, Spring Boot, Spring Cloud, Docker, Redis,
               MongoDB, OpenCV, JUnit, ELK stack.</li>
             <li>Java developer in LBS - Aug 2020 - Apr 2021. Developing new features, code reviewing, testing. with Java,
               Spring Boot, Vaadin, HTML, CSS, JS, MongoDB, Google Maps API, JUnit.</li>
             <li>Java developer in The Introduction - Dec 2019 - Dec 2020. Build project from scratch and developing new
               features, testing. with Java, Spring Boot, AWS, Vaadin, HTML, CSS, JS, MongoDB, REST, multithreading.</li>
             <li>Mendix developer in BringWay, Credit Exchange (ex DirectPay) - April 2019 - Nov 2019. Building projects
               from scratch, developing, maintaining and testing features with Mendix, Java, PostgreSQL, HTML, CSS, JS,
               SOAP, REST.</li>
           </ul>
         </div>
       </div>
       <div class="timeline-block">
         <div class="marker"></div>
         <div class="timeline-content">
           <h3>Intern Java developer</span></h3>
           <p class="company-name">Norse Digital – Odessa, Ukraine</p>
           <p class="date">January 2019 – February 2019</p>
           <p class="company-summary">Norse Digital builds digital solutions that engage users and automate business
             processes and is present in several European markets and the US.</p>
           <ul>
             <li>Was a part of a team building an internal communication system between employees (backend), very similar to HRIS/HRM.
               Basically, it was more like a university practice while studying with Java, Spring boot, PostgreSQL.</li>
           </ul>
         </div>
       </div>
     </div>
   </div> <!-- cv end -->
 </div>
 <h1>Education</h1>
 </div class="container">
 <div class="page__content">
   <div class="cv">
     <div class="timeline">
       <div class="timeline-block">
         <div class="marker"></div>
         <div class="timeline-content">
           <h3>University</span></h3>
           <p class="company-name">Odessa National Polytechnic University (ONPU) - Odessa, Ukraine</p>
           <p class="date">2016 - 2020</p>
           <p class="company-summary">Bachelor's Degree in Computer Engineering, Computer systems and networks.</p>
         </div>
       </div>
     </div>
   </div>
 </div>
