<div class="user-details">
    <h1> About </h1>
    <p> Hi, my name is Takhsin. I am a full-time software engineer based in Odessa, Ukraine.
        Familiar with agile methodologies, has the expertise to design, implement, test, deploy applications/web
        applications and POCs, mostly web apps.
        <br><br>I have been able to write code efficiently in team and contribute to enterprise projects by implementing
        new features and functionalities according to the client’s needs, showcasing and communicating with clients in
        writing and in person, sharing knowledge with team and colleges, optimizing existing code using Java and other
        programming languages and technologies.

        Communicable, adaptive to new conditions and workflow, creative, inquisitive, quick learner and concerned about
        quality.<br><br>
        Away from the keyboard, I have a passion for learning, business and entrepreneurship, music &#9834; especially
        the guitar, travel, meditation, tennis, table tennis, chess, psychology,
        movies, hanging out with friends, and many other things :)
    </p>
    <blockquote>
        <p>Any fool can write code that a computer can understand. <br/> Good programmers write code
            that humans can understand.</p>
        <p><cite>Martin Fowler</cite></p>
    </blockquote>
</div>
<div class="user">
    <div class="tech">
        <h2>Programming languages</h2>
        <i class="devicon-java-plain-wordmark" title="Java"></i>
        <i class="devicon-groovy-plain colored" title="Groovy"></i>
        <i class="devicon-kotlin-plain-wordmark" title="Kotlin"></i>
        <i class="devicon-python-plain-wordmark" title="Python"></i>
        <i class="devicon-cplusplus-line-wordmark" title="C++"></i>
        <i class="devicon-javascript-plain" title="Javascript"></i>
    </div>
    <div class="tech">
        <h2>Frameworks</h2>
        <img id="springlogo-foot" src="https://spring.io/img/spring-2.svg"
             width="150" height="100" title="Spring">
        <img src="https://img.icons8.com/windows/128/000000/vaadin.png" width="100" height="100" title="Vaadin"/>
        <img alt="Hibernate" src="https://hibernate.org/images/hibernate-logo.svg" width="150" height="100"
             title="Hibernate">
    </div>
    <div class="tech">
        <h2>Other</h2>
        <i class="devicon-docker-plain-wordmark" title="Dokcer"></i>
        <i class="devicon-git-plain-wordmark" title="Git"></i>
        <i class="devicon-amazonwebservices-plain-wordmark" title="Amazon web service"></i>
        <i class="devicon-apache-line-wordmark" title="Apache"></i>
        <i class="devicon-apachekafka-original-wordmark colored" title="Apache Kafka"></i>
        <img src="https://img.icons8.com/ios/100/000000/mendix.png" title="Mendix" width="70" height="70"/>
        <i class="devicon-tomcat-line-wordmark" title="Tomcat"></i>
        <i class="devicon-atom-original" title="Atom"></i>
        <i class="devicon-gradle-plain-wordmark" title="Gradle"></i>
        <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
        <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
        <i class="devicon-redis-plain-wordmark" title="Redis"></i>
        <i class="devicon-mongodb-plain-wordmark" title="MongoDB"></i>
        <i class="devicon-mysql-plain-wordmark" title="MySQL"></i>
        <i class="devicon-oracle-original" title="OracleDB"></i>
        <i class="devicon-postgresql-plain-wordmark" title="PostgresSQL"></i>
        <i class="devicon-intellij-plain" title="Intellij IDEA"></i>
        <i class="devicon-visualstudio-plain" title="Visual studio/code"></i>
        <i class="devicon-linux-plain" title="Linux"></i>
        <i class="devicon-windows8-original" title="Windows"></i>
    </div>
</div>
<h1>Experience</h1>
</div class="container">
<div class="page__content">
    <div class="cv">
        <div class="timeline">

            <div class="timeline-block">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Java developer <span class="contractor"></span></h3>
                    <p class="company-name">Hygge Software – Odessa, Ukraine</p>
                    <p class="date">Nov 2022 – Present</p>
                    <p class="company-summary">Hygge Software is a full-service web development agency who provide custom software development and IT staff augmentation for businesses in Europe, the USA, Canada, and Australia</p>
                    <ul>
                        <li>Senior Java developer in Aviation Project.
                            <br>
                            The project utilizes microservices architecture and primary responsibilities include finding and creating solutions to enhance the software,
                            developing new features, optimizing the existing code base, fixing bugs, unit testing, code reviewing, and improving the performance and efficiency of the application.
                            <br>
                        Tech Stack: 
                            The Aviation Project uses several technologies, including Java, Spring framework, Postgresql, MongoDB, Hibernate, Kafka, Groovy, Docker, Gradle, SFDC, REST, Apache Struct, Gitlab, multithreading, other.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Java developer <span class="contractor"></span></h3>
                    <p class="company-name">Provectus – Odessa, Ukraine</p>
                    <p class="date">Nov 2021 – Present</p>
                    <p class="company-summary">Provectus is an AI consultancy and solutions provider, helping businesses
                        achieve their objectives through AI.</p>
                    <ul>
                        <li>Java developer in CLM project.
                            <br>
                            The project which involves a product for managing the complete life cycle of contracts, starting from initiation through approval
                            stages, document generation, electronic signature, and support to the management stage.
                            <br>
                            Tasks and responsibilities: 
                            The tasks and responsibilities include ongoing development of the product, optimizing and speeding up the application for handling large amounts of data,
                            updating integrations (document generation, electronic signature, salesforce), enhancing security, and customizing the product for clients' needs.
                            <br>
                            Tech Stack: 
                            Java, Spring Framework, JSP, Oracle Database, JUnit, Jira, Scrum, Maven, Tomcat, REST APIs, JSON, Git,
                            JDBC, Linux, Ant, Sonarqube, Jenkins, SQL, XML, JavaScript, agile methodologies, other.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Java developer <span class="contractor"></span></h3>
                    <p class="company-name">HYS Enterprise – Odessa, Ukraine</p>
                    <p class="date">February 2019 - Nov 2021</p>
                    <p class="company-summary">HYS Enterprise is a Dutch, Amsterdam-based technology consultancy and
                        software
                        development company. Software development mostly web-based applications using Java, Mendix
                        platform, and
                        other essential tools. Built web applications from scratch which includes: designing
                        architecture, developing, testing, code reviewing, building responsive front-end UI/UX,
                        presenting demos to clients,
                        mentored and taught newcomers.
                        Also, I’ve Built many medium-size business web applications with the Mendix platform and Java
                        programming language. It's a sophisticated platform to design web applications.</p>
                    <ul>
                        <li>Java developer in Crewnion - Sep 2021 - Oct 2021.
                            <br>
                            Project: Crewnion platform designed to simplify HR processes involved in Marine, Oil & Gas and Offshore Green Energy
                            industries by means of implementation of unique algorithms that help a candidate find his dream job and the employer
                            to find the ideal candidate.
                            <br>
                            Taks and responsobilities: Building the project from scratch, developing new features, testing,
                            code reviewing, building front-end, meetings with clients. 
                            <br>
                            Tech stack: Java, Spring framework, Vaadin, MongoDB, REST API, CSS, JS, other.
                        </li>
                        <li>Java developer in Mob.Id - March 2021 - Oct 2021.
                            <br>
                            Project of a decentralized identity verification solution where a user is the one who decides with whom their identity data will be shared.
                            using NFC to extract data chunks from the passport chip to verify and validate the document with governments certificates. All this
                            performed through a secure TLS connection between microservices.
                            
                            Taks and responsobilities: Developing new features, testing, code reviewing, maintaining and evolving the existing microservices, meething with clients.
                            Tech stack: Java, Python, Spring framework, Spring Cloud, Docker, Redis, MongoDB, OpenCV, JUnit, ELK stack, other.
                        </li>
                        <li>Java developer in LBS - Aug 2020 - Apr 2021.
                            <br>
                            The project is location based system to help tracking and monitoring data on map with dashboards and graphs and analytics.
                            <br>
                            Taks and responsobilities: Developing new features, code reviewing, testing, meething with clients.
                            <br>
                            Tech stack: Java, Spring framework, Vaadin, HTML, CSS, JS, MongoDB, Google Maps API, JUnit, other.
                        </li>
                        <li>Java developer in The Introduction - Dec 2019 - Dec 2020.
                            <br>
                            A solution for helping to connect of Global Marketeers and Brands through networking events and peer-to-peer introductions.
                            Parsing and aggregating information from social media and providing UI/UX Interface to interact with the data, fulfill and export to different formats. 
                            <br>
                            Taks and responsobilities: Build project from scratch, developing new features, code revewing, testing, meething with clients.
                            <br>
                            Tech stack: Java, Spring framework, AWS, Vaadin, HTML, CSS, JS, MongoDB, REST, third tools integration, multithreading.
                        </li>
                        <li>Mendix developer - April 2019 - Nov 2019.
                            <br>
                            A project to make payment agreements with multiple parties, from one central location for largest independent platform for financial aid.
                            It connects financial aid providers with creditors.
                            <br>
                            Taks and responsobilities: Building project from scratch, developing maintaining, testing, code revewing, meeting with clients.
                            <br>
                            Tech stack: Mendix, Java, PostgreSQL, HTML, CSS, JS, SOAP, REST.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Intern Java developer</span></h3>
                    <p class="company-name">Norse Digital – Odessa, Ukraine</p>
                    <p class="date">January 2019 – February 2019</p>
                    <p class="company-summary">Norse Digital builds digital solutions that engage users and automate
                        business
                        processes and is present in several European markets and the US.</p>
                    <ul>
                        <li>Was a part of a team building an internal communication system between employees (backend),
                            very similar to HRIS/HRM.
                            Basically, it was more like a university practice while studying with Java, Spring boot,
                            PostgreSQL.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- cv end -->
</div>
<h1>Education</h1>
</div class="container">
<div class="page__content">
    <div class="cv">
        <div class="timeline">
            <div class="timeline-block">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>University</span></h3>
                    <p class="company-name">Odessa National Polytechnic University (ONPU) - Odessa, Ukraine</p>
                    <p class="date">2016 - 2020</p>
                    <p class="company-summary">Bachelor's Degree in Computer Engineering, Computer systems and
                        networks.</p>
                </div>
            </div>
        </div>
    </div>
</div>
